.main-container-content{
    display: flex;
    justify-content: space-between;
    margin-left: 9rem;
    margin-right: 9rem;
    margin-top: 3rem;
    column-gap: 1.2rem;
}

.container-esquerdo{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 50rem;
    height: 20rem;
    border-radius: 12px;
    background-color: #f5f8f8;
}
.title-esquerdo{
    font-weight: bold;
    font-size: 1rem;
    color: #09090a;
    padding-bottom: 1rem;
}

.content-esquerdo{
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border: none;
    height: 50rem;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.055);
}

.container-direito{
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 20rem;
    border-radius: 12px;
    background-color: #f5f8f8;
}

